@model IEnumerable<TestProject.Models.News>
@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Heading -->
<h1 class="my-4">
    News Scraping
    <small>Scraps from several news services</small>
</h1>

<div class="row">
    @foreach(var item in Model)
    {
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <img src="@item.ImageURL" alt="" style="width:100%">
                <div class="caption">
                    @*<h3>
                        <a href="@item.Permalink">@item.Title</a>
                    </h3>*@
                    @*<p>@item.Description</p>*@
                    <p>Test</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    }
</div>