@model IEnumerable<TestProject.Models.News>

@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Heading -->
<h1 class="my-4">
    News Scraping
    <small>Scraps data from several news services</small>
</h1>

<div class="row">
    @{ await Html.RenderPartialAsync("_NewsListPartial", Model);}
    <div id="listmore"></div>
</div>

@section Scripts {
<script type="text/javascript">
        $(window).scroll(function(){
                    if ($(window).scrollTop() == $(document).height() - $(window).height()){
                        var redditAfterID = '@(ViewBag.RedditAfterID)';
                        console.log(redditAfterID);
                        GetNewsData();
                    }
            });

        function GetNewsData() {
        $.ajax({
            type: 'GET',
            url: '/Home/NewsList',
            data: {
                "redditAfterID": "test",
                "apiServicePage": "test"
            },
            dataType: 'html',
            success: function (data) {
                if (data != null) {
                    $("#listmore").append(data);
                    pageIndex++;
                }
            },
            error: function () {
                alert("Error while retrieving data!");
            }
        });
    }
</script>
}